html, body {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

table {
  border-collapse: collapse;
  width: 100%; }

input:focus {
  outline: none; }

img, table {
  border: none; }

a {
  color: #43aa26;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    text-decoration: underline;
    outline: 0; }

button {
  outline: none;
  cursor: pointer; }

svg:not(:root) {
  overflow: hidden; }

header, footer, article, section, hgroup, nav, menu, aside, figure, main, video, address, picture, figcaption {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: 'Cuprum', sans-serif;
  font-weight: bold; }

h1 {
  font-size: 44px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

ul, ol {
  list-style: none; }

p {
  margin: 10px 0; }

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

::-webkit-input-placeholder {
  color: #262626; }

::-moz-placeholder {
  color: #262626; }

:-ms-input-placeholder {
  color: #262626; }

::-ms-input-placeholder {
  color: #262626; }

::placeholder {
  color: #262626; }

/* --------------------- 
INPUT FIELDS
--------------------- */
input[type=text],
input[type=password],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=search],
textarea {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  border: 1px solid #b3b3b3;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 6px 9px;
  color: #262626;
  width: 100%;
  height: 32px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  resize: vertical;
  height: auto; }

:focus {
  outline: 0; }

body {
  background: #f0f0f0 url("../img/bg.png");
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #2f3131; }

.header {
  background: #fff; }
  .header__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1190px;
    margin: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 21px 10px 23px 10px; }
  .header__box {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .header__box--1 {
    -webkit-flex-basis: 31.2%;
        -ms-flex-preferred-size: 31.2%;
            flex-basis: 31.2%; }
  .header__box--2 {
    -webkit-flex-basis: 31.97%;
        -ms-flex-preferred-size: 31.97%;
            flex-basis: 31.97%; }
  .header__box--3 {
    -webkit-flex-basis: 20.34%;
        -ms-flex-preferred-size: 20.34%;
            flex-basis: 20.34%; }
  .header__box--4 {
    -webkit-flex-basis: 16.49%;
        -ms-flex-preferred-size: 16.49%;
            flex-basis: 16.49%; }

.icon {
  display: inline-block; }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .logo:hover {
    text-decoration: none; }
  .logo h1 {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin: 0;
    padding: 0 0 0 8px;
    color: #4f555a;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase; }

.desc {
  margin: 0; }

.phone {
  font-family: 'Cuprum', sans-serif;
  font-weight: normal;
  font-size: 26px; }

.call {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #43aa26;
  color: #fff;
  font-family: 'Cuprum', sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  height: 38px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .call:hover {
    text-decoration: none;
    background: #2c8a12;
    border-bottom-color: #43aa26; }
  .call span {
    padding: 0 0 0 9px; }
  .call:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #63ba43;
    position: absolute;
    bottom: 3px;
    left: 0; }
  .call:after {
    content: '';
    width: 100%;
    height: 3px;
    background: #2c8a12;
    position: absolute;
    bottom: 0;
    left: 0; }

.navi {
  background: #3ea825 url("../img/navi.bg"); }

.navList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1190px;
  padding: 0 10px;
  margin: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .navList__item {
    border-right: 1px solid #7bc56a;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1; }
    .navList__item:first-child {
      border-left: 1px solid #7bc56a; }
    .navList__item a {
      font-family: 'Cuprum', sans-serif;
      font-weight: normal;
      font-size: 18px;
      position: relative;
      display: block;
      color: #fff;
      text-transform: uppercase;
      height: 48px;
      padding: 0 28px;
      text-align: center; }
      .navList__item a:hover {
        text-decoration: none;
        background: #fff;
        color: #43aa26;
        font-weight: bold; }
      .navList__item a:before {
        content: " ";
        display: inline-block;
        height: 100%;
        width: 0;
        vertical-align: middle; }
      .navList__item a span {
        display: inline-block;
        vertical-align: middle; }
  .navList__item--search a {
    padding: 0 10px; }
    .navList__item--search a:hover {
      background: none; }
    .navList__item--search a i {
      vertical-align: middle; }

.preambule {
  margin: 0 0 -91px 0;
  position: relative; }

.preambuleSlider {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2; }
  .preambuleSlider__inner {
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative; }
  .preambuleSlider__list {
    right: 0;
    top: 127px;
    position: absolute;
    width: 450px;
    background: #fff;
    border-top: 4px solid #43aa26; }
    .preambuleSlider__list .owl-nav {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 100%; }
      .preambuleSlider__list .owl-nav div {
        position: absolute;
        top: -13px;
        width: 26px;
        height: 26px;
        text-indent: -9000px;
        overflow: hidden;
        background: #fff;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
        .preambuleSlider__list .owl-nav div:hover {
          background: #43aa26; }
        .preambuleSlider__list .owl-nav div:before {
          content: '';
          background-image: url(../img/sprite.png);
          width: 11px;
          height: 17px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -6px 0 0 -8px;
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg); }
    .preambuleSlider__list div.owl-prev {
      left: -13px; }
      .preambuleSlider__list div.owl-prev:before {
        background-position: -141px -72px; }
      .preambuleSlider__list div.owl-prev:hover:before {
        background-position: -174px -72px; }
    .preambuleSlider__list div.owl-next {
      right: -13px; }
      .preambuleSlider__list div.owl-next:before {
        background-position: -152px -72px;
        right: 50%;
        left: auto;
        margin: -11px -8px 0 0; }
      .preambuleSlider__list div.owl-next:hover:before {
        background-position: -163px -72px; }
    .preambuleSlider__list .owl-dots {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 20px;
      height: 14px; }
      .preambuleSlider__list .owl-dots div {
        margin: 0 3px;
        display: inline-block;
        vertical-align: top;
        width: 14px;
        height: 14px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background: #43aa26;
        border: 2px solid #fff; }
        .preambuleSlider__list .owl-dots div.active {
          background: #fff;
          border-color: #43aa26; }
  .preambuleSlider__item {
    padding: 0 29px 41px 29px; }
    .preambuleSlider__item h3 {
      text-transform: uppercase;
      padding: 12px 0 4px 0;
      font-weight: normal; }

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto; }

.stepsWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative; }

.stepsPic {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 41.03%;
      -ms-flex: 1 1 41.03%;
          flex: 1 1 41.03%; }
  .stepsPic:before {
    content: '';
    width: 71px;
    height: 6px;
    background: #43aa26;
    top: -3px;
    left: -3px;
    position: absolute; }
  .stepsPic:after {
    content: '';
    width: 6px;
    height: 62px;
    background: #43aa26;
    top: 3px;
    left: -3px;
    position: absolute; }

.steps {
  background: #fff;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 58.97%;
      -ms-flex: 1 1 58.97%;
          flex: 1 1 58.97%;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  padding: 44px 0 0 0; }
  .steps h2 {
    text-align: center;
    margin: 0;
    text-transform: uppercase; }

.stepsList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .stepsList__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 33.3%;
        -ms-flex: 1 1 33.3%;
            flex: 1 1 33.3%;
    text-align: center;
    position: relative;
    padding: 40px 0; }
    .stepsList__item:before {
      content: '';
      background-image: url(../img/sprite.png);
      background-position: 0px -164px;
      width: 17px;
      height: 182px;
      position: absolute;
      right: 0;
      bottom: 0; }
    .stepsList__item:last-child:before {
      display: none; }
  .stepsList__pic {
    height: 96px;
    line-height: 96px; }
    .stepsList__pic i {
      vertical-align: middle; }
  .stepsList__text {
    max-width: 120px;
    margin: 0 auto;
    line-height: 1.2;
    padding: 32px 0 0 0; }

.icon-step {
  position: absolute;
  bottom: 37px;
  right: -19px; }

.video {
  padding: 35px 0 0 0; }
  .video h2 {
    text-transform: uppercase;
    margin: 0; }

.icon-play {
  position: absolute;
  left: 0;
  bottom: -25px; }
  .icon-play:hover {
    background-position: -150px -96px; }

.videoSlider__item figure {
  height: 240px;
  position: relative; }
  .videoSlider__item figure video {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%; }

.videoSlider__poster {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; }
