html, body {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

table {
  border-collapse: collapse;
  width: 100%; }

input:focus {
  outline: none; }

img, table {
  border: none; }

a {
  color: #43aa26;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    text-decoration: underline;
    outline: 0; }

button {
  outline: none;
  cursor: pointer; }

svg:not(:root) {
  overflow: hidden; }

header, footer, article, section, hgroup, nav, menu, aside, figure, main, video, address, picture, figcaption {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: 'Cuprum', sans-serif;
  font-weight: bold; }

h1 {
  font-size: 44px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

ul, ol {
  list-style: none; }

p {
  margin: 10px 0; }

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

::-webkit-input-placeholder {
  color: #262626; }

::-moz-placeholder {
  color: #262626; }

:-ms-input-placeholder {
  color: #262626; }

::-ms-input-placeholder {
  color: #262626; }

::placeholder {
  color: #262626; }

/* --------------------- 
INPUT FIELDS
--------------------- */
input[type=text],
input[type=password],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=search],
textarea {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  border: 1px solid #b3b3b3;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 6px 9px;
  color: #262626;
  width: 100%;
  height: 32px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  resize: vertical;
  height: auto; }

:focus {
  outline: 0; }

body {
  background: #f0f0f0 url("../img/bg.png");
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #2f3131; }

.header {
  background: #fff;
  position: relative; }
  .header__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    max-width: 1190px;
    margin: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 21px 10px 23px 10px; }
    @media (max-width: 767px) {
      .header__inner {
        padding-top: 32px; } }
  .header__box {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .header__box--1 {
    -webkit-flex-basis: 31.2%;
        -ms-flex-preferred-size: 31.2%;
            flex-basis: 31.2%; }
    @media (max-width: 1199px) {
      .header__box--1 {
        -webkit-flex-basis: 28.2%;
            -ms-flex-preferred-size: 28.2%;
                flex-basis: 28.2%; } }
  .header__box--2 {
    -webkit-flex-basis: 31.97%;
        -ms-flex-preferred-size: 31.97%;
            flex-basis: 31.97%; }
    @media (max-width: 1199px) {
      .header__box--2 {
        -webkit-flex-basis: 28.97%;
            -ms-flex-preferred-size: 28.97%;
                flex-basis: 28.97%; } }
    @media (max-width: 991px) {
      .header__box--2 {
        display: none; } }
  .header__box--3 {
    -webkit-flex-basis: 20.34%;
        -ms-flex-preferred-size: 20.34%;
            flex-basis: 20.34%; }
    @media (max-width: 767px) {
      .header__box--3 {
        display: none; } }
  .header__box--4 {
    -webkit-flex-basis: 16.49%;
        -ms-flex-preferred-size: 16.49%;
            flex-basis: 16.49%; }

.icon {
  display: inline-block; }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .logo:hover {
    text-decoration: none; }
  .logo h1, .logo h2 {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin: 0;
    padding: 0 8px;
    color: #4f555a;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase; }
  @media (max-width: 640px) {
    .logo h1 {
      font-size: 18px; } }
  @media (max-width: 480px) {
    .logo h1 {
      font-size: 16px; } }

.desc {
  margin: 0; }

.phone {
  font-family: 'Cuprum', sans-serif;
  font-weight: normal;
  font-size: 26px; }

.call {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #43aa26;
  color: #fff;
  font-family: 'Cuprum', sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  height: 38px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 6px; }
  .call:hover {
    text-decoration: none;
    background: #2c8a12;
    border-bottom-color: #43aa26; }
  .call span {
    padding: 0 0 0 9px; }
  .call:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #63ba43;
    position: absolute;
    bottom: 3px;
    left: 0; }
  .call:after {
    content: '';
    width: 100%;
    height: 3px;
    background: #2c8a12;
    position: absolute;
    bottom: 0;
    left: 0; }
  @media (max-width: 480px) {
    .call {
      font-size: 13px; } }

.navi {
  background: #3ea825 url("../img/navi.bg"); }
  @media (max-width: 767px) {
    .navi {
      display: none; } }

.navList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1190px;
  padding: 0 10px;
  margin: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .navList__item {
    border-right: 1px solid #7bc56a;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1; }
    .navList__item:first-child {
      border-left: 1px solid #7bc56a; }
    .navList__item a {
      font-family: 'Cuprum', sans-serif;
      font-weight: normal;
      font-size: 18px;
      position: relative;
      display: block;
      color: #fff;
      text-transform: uppercase;
      height: 48px;
      padding: 0 28px;
      text-align: center; }
      .navList__item a:hover {
        text-decoration: none;
        background: #fff;
        color: #43aa26;
        font-weight: bold; }
      .navList__item a:before {
        content: " ";
        display: inline-block;
        height: 100%;
        width: 0;
        vertical-align: middle; }
      .navList__item a span {
        display: inline-block;
        vertical-align: middle; }
      @media (max-width: 1199px) {
        .navList__item a {
          padding: 0; } }
      @media (max-width: 991px) {
        .navList__item a {
          font-size: 16px; } }
  .navList__item--search a {
    padding: 0 10px; }
    .navList__item--search a:hover {
      background: none; }
    .navList__item--search a i {
      vertical-align: middle; }

.preambule {
  background: url("../img/preambule.jpg") center center no-repeat;
  height: 500px;
  margin: 0 0 -91px 0;
  position: relative; }

.preambuleSlider {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2; }
  @media (max-width: 991px) {
    .preambuleSlider {
      position: static; } }
  .preambuleSlider__inner {
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative; }
    @media (max-width: 991px) {
      .preambuleSlider__inner {
        position: static; } }
  .preambuleSlider__list {
    right: 0;
    top: 127px;
    position: absolute;
    width: 450px;
    background: #fff;
    border-top: 4px solid #43aa26;
    -webkit-box-shadow: 3px 3px 20px -5px rgba(0, 0, 0, 0.4);
            box-shadow: 3px 3px 20px -5px rgba(0, 0, 0, 0.4); }
    @media (max-width: 1199px) {
      .preambuleSlider__list {
        right: 15px; } }
    @media (max-width: 991px) {
      .preambuleSlider__list {
        width: 90%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        margin-top: -45px; } }
    .preambuleSlider__list .owl-nav {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 100%; }
      .preambuleSlider__list .owl-nav div {
        position: absolute;
        top: -19px;
        width: 38px;
        height: 38px;
        text-indent: -9000px;
        overflow: hidden;
        background-image: url(../img/sprite.png); }
    .preambuleSlider__list div.owl-prev {
      left: -19px;
      background-position: 0px -362px; }
      .preambuleSlider__list div.owl-prev:hover {
        background-position: 0px -324px; }
    .preambuleSlider__list div.owl-next {
      right: -19px;
      background-position: 0px -286px; }
      .preambuleSlider__list div.owl-next:hover {
        background-position: 0px -400px; }
    .preambuleSlider__list .owl-dots {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 20px;
      height: 14px; }
      .preambuleSlider__list .owl-dots div {
        margin: 0 3px;
        display: inline-block;
        vertical-align: top;
        width: 14px;
        height: 14px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background: #43aa26;
        border: 2px solid #fff; }
        .preambuleSlider__list .owl-dots div.active {
          background: #fff;
          border-color: #43aa26; }
  .preambuleSlider__item {
    padding: 0 29px 41px 29px; }
    .preambuleSlider__item h3 {
      text-transform: uppercase;
      padding: 12px 0 4px 0;
      font-weight: normal; }

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative; }

.stepsWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative; }

.stepsPic {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 41.03%;
      -ms-flex: 1 1 41.03%;
          flex: 1 1 41.03%; }
  .stepsPic img {
    width: 100%;
    height: 100%; }
  @media (max-width: 767px) {
    .stepsPic {
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%; } }
  .stepsPic:before {
    content: '';
    width: 71px;
    height: 6px;
    background: #43aa26;
    top: -3px;
    left: -3px;
    position: absolute; }
  .stepsPic:after {
    content: '';
    width: 6px;
    height: 62px;
    background: #43aa26;
    top: 3px;
    left: -3px;
    position: absolute; }

.steps {
  background: #fff;
  -webkit-box-shadow: 3px 3px 20px -5px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 20px -5px rgba(0, 0, 0, 0.4);
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 58.97%;
      -ms-flex: 1 1 58.97%;
          flex: 1 1 58.97%;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  padding: 44px 0 0 0; }
  .steps h2 {
    text-align: center;
    margin: 0;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .steps h2 {
        font-size: 28px; } }

.stepsList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .stepsList__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 33.3%;
        -ms-flex: 1 1 33.3%;
            flex: 1 1 33.3%;
    text-align: center;
    position: relative;
    padding: 40px 0; }
    @media (max-width: 640px) {
      .stepsList__item {
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%; } }
    .stepsList__item:before {
      content: '';
      background-image: url(../img/sprite.png);
      background-position: 0px -985px;
      width: 17px;
      height: 182px;
      position: absolute;
      right: 0;
      bottom: 0; }
      @media (max-width: 640px) {
        .stepsList__item:before {
          display: none; } }
    .stepsList__item:last-child:before {
      display: none; }
  .stepsList__pic {
    height: 96px;
    line-height: 96px; }
    .stepsList__pic i {
      vertical-align: middle; }
  .stepsList__text {
    max-width: 120px;
    margin: 0 auto;
    line-height: 1.2;
    padding: 32px 0 0 0; }

.icon-step {
  position: absolute;
  bottom: 37px;
  right: -19px; }
  @media (max-width: 640px) {
    .icon-step {
      display: none; } }

.video {
  padding: 35px 0 0 0; }
  .video h2 {
    text-transform: uppercase;
    margin: 0 0 27px 0; }
    @media (max-width: 767px) {
      .video h2 {
        font-size: 28px; } }

.icon-play {
  position: absolute;
  left: 0;
  bottom: -25px;
  z-index: 3;
  cursor: pointer; }
  .icon-play:hover {
    background-position: 0px -582px; }

.videoSlider {
  position: relative;
  padding: 0 0 40px 0;
  margin: 0 0 60px 0; }
  .videoSlider:after {
    content: '';
    background: #b9bdc8;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1; }
  .videoSlider:before {
    content: '';
    background: #43aa26;
    width: 80.68%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2; }
  .videoSlider__item .videoPic {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }
  .videoSlider__item figure {
    height: 240px;
    position: relative; }
    .videoSlider__item figure video {
      margin: 0;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 1; }
  .videoSlider__item h4 {
    margin: 0;
    padding: 10px 34px 9px 64px; }
    .videoSlider__item h4 a {
      color: #2f3131; }
      .videoSlider__item h4 a:hover {
        color: #43aa26; }
  .videoSlider__item p {
    margin: 0;
    padding: 0 34px 0 64px; }
  .videoSlider__poster {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%; }
  .videoSlider .owl-carousel {
    z-index: 3; }
  .videoSlider .owl-nav {
    background-image: url(../img/sprite.png);
    background-position: 0px -632px;
    width: 54px;
    height: 54px;
    position: absolute;
    bottom: -65px;
    left: 80.68%;
    margin-left: -6px; }
    .videoSlider .owl-nav div {
      text-indent: -9000px;
      overflow: hidden;
      width: 8px;
      height: 12px;
      position: absolute;
      background-image: url(../img/sprite.png);
      top: 20px; }
    .videoSlider .owl-nav div.owl-prev {
      background-position: 0px -22px;
      left: 16px; }
    .videoSlider .owl-nav div.owl-next {
      background-position: 0px -10px;
      right: 16px; }

.action {
  background: url("../img/action-bg.jpg") center center no-repeat;
  height: 329px;
  padding: 35px 0 0 0; }
  .action h2 {
    text-transform: uppercase;
    margin: 0 0 23px 0;
    color: #fff; }
    @media (max-width: 767px) {
      .action h2 {
        font-size: 28px; } }
  .action__text {
    margin: 0;
    color: #fff;
    line-height: 1.5; }
    .action__text a {
      color: #fff600;
      font-size: 16px;
      font-weight: bold;
      display: block;
      text-decoration: underline; }

.actionList__title {
  color: #fff;
  padding: 20px 0 8px 0; }

.actionList__item {
  background: #fff;
  display: inline-block;
  vertical-align: top;
  width: 85px;
  height: 100px;
  text-align: center;
  margin: 0 17px 0 0;
  -webkit-box-shadow: 3px 3px 20px -5px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 20px -5px rgba(0, 0, 0, 0.4); }
  @media (max-width: 480px) {
    .actionList__item {
      width: 65px;
      margin-right: 7px; } }
  .actionList__item span {
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    font-size: 56px;
    text-transform: uppercase;
    color: #43aa26;
    display: block;
    padding: 12px 0 0 0;
    line-height: 1.0; }
  .actionList__item i {
    font-style: normal; }

.catalog {
  border-bottom: 1px solid #d8d8d8;
  padding: 0 0 40px 0; }
  .catalog__inner h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 24px 0 22px 0; }
    @media (max-width: 767px) {
      .catalog__inner h2 {
        font-size: 28px; } }

.tabsTitles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 40px 0; }
  @media (max-width: 767px) {
    .tabsTitles__item {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 100%;
          -ms-flex: 1 1 100%;
              flex: 1 1 100%; } }
  .tabsTitles__item a {
    font-size: 16px;
    font-weight: bold;
    color: #2f3131;
    padding: 10px 25px;
    background: #fff;
    border: 2px solid #fff;
    margin-right: 1px;
    display: block;
    text-decoration: none; }
    .tabsTitles__item a:hover {
      border-color: #43aa26;
      color: #43aa26; }
  .tabsTitles__item--activ a {
    border-color: #43aa26;
    color: #43aa26; }

.catalogList__inner {
  padding: 20px 20px 30px 20px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
  margin: 0 0 10px 0; }
  .catalogList__inner figure {
    margin: 0 0 19px 0; }
  .catalogList__inner h4 {
    margin: 22px 0 0 0;
    text-align: center;
    position: relative;
    font-family: 'Roboto', sans-serif; }
    .catalogList__inner h4:after {
      content: '';
      background: #43aa26;
      width: 59px;
      height: 3px;
      margin: 21px auto 0 auto;
      display: block; }

.catalogList .owl-dots {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -20px;
  height: 14px; }
  .catalogList .owl-dots div {
    margin: 0 3px;
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 14px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #43aa26;
    border: 2px solid #fff; }
    .catalogList .owl-dots div.active {
      background: #fff;
      border-color: #43aa26; }

.catalogList .owl-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%; }
  .catalogList .owl-nav div {
    background-image: url(../img/sprite.png);
    top: -9px;
    text-indent: -9000px;
    width: 11px;
    height: 17px;
    position: absolute; }

.catalogList div.owl-prev {
  left: -41px;
  background-position: 0px -153px; }
  .catalogList div.owl-prev:hover {
    background-position: 0px -51px; }

.catalogList div.owl-next {
  right: -41px;
  background-position: 0px -85px; }
  .catalogList div.owl-next:hover {
    background-position: 0px -68px; }

.summa__price {
  text-align: center;
  padding: 19px 0 0 0;
  font-size: 16px;
  font-weight: bold; }
  .summa__price sub {
    position: relative;
    top: -5px;
    padding: 0 4px 0 0; }
  .summa__price span {
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
    font-size: 36px; }

.summa__calc {
  font-family: 'Cuprum', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  margin: 19px auto 0 auto;
  display: block;
  width: -webkit-calc(100% - 38px);
  width: calc(100% - 38px);
  background: #43aa26;
  border: 2px solid #43aa26;
  text-align: center;
  padding: 6px 0 5px 0;
  position: relative; }
  .summa__calc:before {
    content: '';
    background: #2c8a12;
    width: -webkit-calc(100% + 4px);
    width: calc(100% + 4px);
    height: 3px;
    position: absolute;
    bottom: -2px;
    left: -2px; }
  .summa__calc:hover {
    text-decoration: none;
    background: #fff;
    color: #43aa26; }
    .summa__calc:hover:before {
      display: none; }

.thumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.tab {
  display: none; }

.tab.active {
  display: block; }

.product__inner {
  padding: 31px 0 0 0; }
  .product__inner h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 0 0 26px 0; }
    @media (max-width: 767px) {
      .product__inner h2 {
        font-size: 28px; } }

.productBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .productBox__desc {
    background: #fff;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
    padding: 30px;
    width: 58.97%;
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; }
    @media (max-width: 991px) {
      .productBox__desc {
        width: 100%; } }
  .productBox__action {
    width: 38.46%;
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; }
    @media (max-width: 991px) {
      .productBox__action {
        width: 100%;
        margin: 19px 0 0 0; } }
  .productBox__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .productBox__gallery {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 47.46%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; }
    @media (max-width: 991px) {
      .productBox__gallery {
        width: 100%; } }
  .productBox__text {
    width: 49.37%;
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; }
    @media (max-width: 991px) {
      .productBox__text {
        width: 100%;
        margin: 25px 0 0 0; } }
    .productBox__text h4 {
      margin: 0;
      padding: 0 0 8px 0; }
  .productBox__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%; }
  .productBox__section {
    height: 180px;
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    background: #fff;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
    position: relative;
    text-align: center; }
    .productBox__section:first-child {
      margin-bottom: 19px; }
    .productBox__section h4 {
      font-family: 'Roboto', sans-serif;
      font-weight: bold; }

.galleryPic img {
  width: 100%; }

.gallerySlider {
  padding: 15px 26px 0; }
  .gallerySlider .owl-nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%; }
    .gallerySlider .owl-nav div {
      background-image: url(../img/sprite.png);
      top: -9px;
      text-indent: -9000px;
      width: 11px;
      height: 17px;
      position: absolute; }
  .gallerySlider div.owl-prev {
    left: -26px;
    background-position: 0px -153px; }
    .gallerySlider div.owl-prev:hover {
      background-position: 0px -51px; }
  .gallerySlider div.owl-next {
    right: -26px;
    background-position: 0px -85px; }
    .gallerySlider div.owl-next:hover {
      background-position: 0px -68px; }

.mesage {
  background: #f15858;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  line-height: 35px;
  padding: 0 14px;
  top: -10px; }
  .mesage:before {
    content: '';
    background-image: url(../img/sprite.png);
    background-position: 0px 0px;
    width: 6px;
    height: 10px;
    position: absolute;
    left: -6px;
    top: 0; }

.deliveryInfo {
  position: relative;
  padding: 13px 0 0 0; }
  .deliveryInfo__popup {
    display: none;
    background: #fff;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
    width: 266px;
    position: absolute;
    left: -91px;
    top: 6px;
    padding: 15px 12px 15px 16px; }
    @media (max-width: 991px) {
      .deliveryInfo__popup {
        left: 50%;
        -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
                transform: translate(-50%, 0); } }
    .deliveryInfo__popup p {
      margin: 0;
      line-height: 1.1; }
    .deliveryInfo__popup:before {
      content: '';
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 12px solid #fff;
      position: absolute;
      right: -12px;
      top: 26px; }
  .deliveryInfo .icon-information {
    cursor: pointer; }

.priceWrap {
  padding: 17px 0 0 0;
  max-width: 231px;
  margin: 0 auto; }
  .priceWrap .summa__price {
    padding: 0; }

.content {
  overflow: auto;
  position: relative;
  height: 75px;
  text-align: left; }

.footer {
  overflow: hidden;
  position: relative;
  margin: 39px 0 0 0;
  height: 519px; }
  @media (max-width: 991px) {
    .footer {
      height: auto; } }
  .footer .container {
    height: 100%; }
  .footer__block {
    background: #fff;
    width: 450px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 31px 0 23px 0; }
    @media (max-width: 991px) {
      .footer__block {
        width: 100%;
        position: static; } }
    .footer__block .logo {
      margin: 0 auto 30px auto;
      max-width: 280px; }
  .footer__bottom {
    padding: 24px 20px 0 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 480px) {
      .footer__bottom .phone {
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
        margin-bottom: 15px; } }
    .footer__bottom .call {
      width: auto;
      background: #43aa26;
      padding: 0 16px; }
      .footer__bottom .call:before {
        display: none; }
      @media (max-width: 480px) {
        .footer__bottom .call {
          -webkit-flex-basis: 100%;
              -ms-flex-preferred-size: 100%;
                  flex-basis: 100%; } }

.map {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: inherit;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 100%; }
  @media (max-width: 991px) {
    .map {
      display: none; } }

.footerList {
  border: 1px solid #e5e5e5;
  border-width: 1px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 21px; }
  .footerList__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 33.3%;
        -ms-flex: 1 1 33.3%;
            flex: 1 1 33.3%;
    padding: 2px 0 1px 0; }
    .footerList__item a {
      color: #2f3131; }
      .footerList__item a:hover {
        color: #5cb543; }

#openPageslide {
  display: none; }

#pageslide {
  display: none;
  position: fixed;
  top: -9999px; }

@media (max-width: 767px) {
  .navBox ul li a {
    padding: 15px;
    border-bottom: 1px solid #e3e3e3;
    color: #fff;
    background: #43aa26;
    display: block;
    font-family: 'Cuprum', sans-serif;
    font-weight: normal;
    font-size: 18px; }
    .navBox ul li a:hover {
      text-decoration: none; }
  #openPageslide {
    display: block;
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 10;
    width: 30px; }
    #openPageslide span {
      display: block;
      width: 100%;
      height: 5px;
      background: #2c8a12;
      margin-bottom: 2px; }
  #pageslide {
    overflow: hidden;
    display: block;
    width: 77.2%;
    top: 0;
    left: -77.2%;
    height: 100%;
    z-index: 999999;
    overflow-y: auto;
    background: #2c8a12; }
  .pageslideBg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9998; } }
